@use "sass:color";
@use "sass:math";
// Added Color Module
$colorPrimary: color.adjust(red, $lightness: -10%);
$colorSecondary: color.adjust(green, $lightness: -10%);
$colorTertiary: color.adjust(blue, $lightness: -10%);

@function color($color) {
  @return color.adjust($color, $lightness: 10%);
}
@function colorBorder($border) {
  @return color.adjust($border, $lightness: 2%);
}

// Converter Module Start

@function fontSize($fontsize) {
  @return math.div($fontsize, 16) + rem;
}

// Converter Module End

@mixin colorChangeText($color: transparent, $border: transparent, $fontsize: 16) {
  color: color($color);
  border: 1px solid colorBorder($border);
  font-size: fontSize($fontsize);
  @content;
}

.container {
  @include colorChangeText($border: $colorPrimary);
  padding: 1rem;
  text-align: center;
  h1 {
    margin: auto;
    @include colorChangeText($color: $colorSecondary, $fontsize: 24) {
      border-bottom: 1px solid $colorTertiary;
    }
    width: 35rem;
  }

  section {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-direction: row;
    article:nth-child(odd) {
      @include colorChangeText($color: $colorTertiary, $border: $colorSecondary);
    }
    article:nth-child(even) {
      @include colorChangeText($color: $colorPrimary, $border: $colorSecondary);
    }

    article {
      @include colorChangeText($border: $colorSecondary);
    }

    article.fullW {
      @include colorChangeText($colorSecondary, $colorTertiary, 3vh);
      width: 100%;
      font-size: 3vh;
      text-align: center;
    }
  }
}
