$colorPrimary: green;
$colorSecondary: red;
$colorTertiary: blue;

.container {
  border: 1px solid $colorSecondary;
  padding: 1rem;
  h1 {
    margin: auto;
    text-align: center;
    color: $colorPrimary;
    border-bottom: 1px solid $colorTertiary;
    width: 35rem;
  }

  section {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    article:nth-child(odd) {
      color: $colorTertiary;
    }
    article:nth-child(even) {
      color: $colorSecondary;
    }
    article {
      border: 1px solid $colorPrimary;
      padding: 1rem;
    }
  }
}
